{
  "root": true,
  "extends": ["react-app", "react-app/jest"],
  "plugins": ["react", "jsx-a11y", "import"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
